attrs
cdsapi
certifi
cftime
charset-normalizer
colorama
contourpy
cycler
ecmwf-datastores-client
et_xmlfile
fonttools
idna
kiwisolver
matplotlib
multiurl
netCDF4
numpy
openpyxl
packaging
pandas
pillow
pyparsing
python-dateutil
pytz
requests
scipy
six
tqdm
typing_extensions
tzdata
urllib3
xarray
